:css
  pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin-left: -140px;
    height: 106px;    
  }
%div#node_js_presentation
  .slide
    %h1#prelogo
      Introduction to
    %h1#logo
      Node Js
    .footer
      Sanjiv Kumar Jha
      = link_to "@narutosanjiv", "http://twitter.com/narutosanjiv"
  .slide
    %h1
      How Node JS evolve
    %ul
      %li
        Ryan Dahl in JSConf 2009 introduced a project
      %li
        Project was platform for combining V8 engine and event loop.
      %li 
        Later project named as Node Js
      %li
        Currently Used by Large companies like LinkedIn, Microsoft, Walmart , yahoo        
  .slide
    %h1
      What is node ? and why needed? 
    %ul
      %li
        Node.js is compilation of Google's V8 JavaScript engine, the libUV platform abstraction layer, and a core library
      %li
        Written in Javascript and c(c++).
      %li
        Goal was to create the design functionality of push notification just like Gmail.
      %li
        To provide Web application ability to perform non-blocking , event-driven I/O operation.
      %li
        libuv is a new platform layer for Node
      %li
        Its purpose is to abstract IOCP on Windows and epoll/kqueue/event ports/etc.
  .slide
    %h1
      Why v8 javascript engine ?
    %ul
      %li
        V8 JavaScript VM is used in Google Chrome. V8(Lars Bak) is open-source
      %li
        No JIT, all JavaScript is compiled to assembler
      %li
        Hidden classes optimization from self(V8 does not dynamically look up access properties unlike other js engine).
      %li
        Improved garbage collector 
      %li
        V8 is many times faster than JScript (in Internet Explorer), SpiderMonkey (in Firefox), and JavaScriptCore (in Safari)
      
  .slide
    %h1
      Node.js vs Traditional Server
    %ul
      %li
        Highly scalable system that uses asynchronous event-driven I/O (input/output in nginx, node js), rather than threads or separate processes(apache)
      %li
        Each time a web resource is requested, Apache creates a separate thread or invokes a new process in order to process the request.
      %li
        Even though Apache responds quickly to requests, and cleans up after the request has been satisfied, this approach can still tie up
        a lot of resources. A popular web application is going to have serious performance issues.
      %li
        Node doesn't block any other request while waiting for the event functionality to complete, and events are processed first served, in a
        relatively uncomplicated event loop.
  .slide
    %h1
      Setting up a Node Development Environment
    %ul
      %li
        Package installers are provided for both Windows and Mac OS
      %li
        For Windows, Go to http://nodejs.org/download/ and download window binary.
      %li
        For Linux, you can either download linux binary but it is recommend to install from source.

      %li
        Before Installing, install dependency of Node Js.
        %pre{style: 'height:106px;'}
          %span.atv{style: 'overflow-x:'}
            sudo apt-get install build-essential openssl 
            libssl-dev pkg-config
      %span
        Continue .....
  .slide
    %h1
      Node Js Installation continue 
    %ul
      %li
        Download the Node tarball from official site of node js.
        %pre
          %span.atv
            wget http://nodejs.org/dist/v0.8.16/node-v0.8.16.tar.gz
      %li
        Once downloaded, unzip and untar the file:
        %pre
          %span.atv
            tar -zxf node-v0.6.18.tar.gz
      %li
        Change into the directory and issue the following
        commands to compile and install Node:
        %pre
          %span.atv
            \./configure
            make
            sudo make install
      %li
        Above three command require 
        %em
          make
        utility in unix or linux based system to run makefile based on system installation.

  .slide
    %h1
      Node Js Installation continue 
    %ul
      %li
        Note in last command root privileges required, but node can be installed locally as explained below.
      %li
        Setting the prefix configuration option to a given path in your home directory installs Node locally.
        .pre
          %span.atv
            \./configure --prefix=$(HOME_DIR_WHATEVER_NAME)
            make & make install
          %span.atv
            echo 'export PATH=~/$(HOME_DIR_WHATEVER_NAME)/bin:${PATH}' >> ~/\.bashrc
      
      %li
        There are two different Windows infrastructures for Node Js on Window System. 
      %li
        One is the new Windows Azure cloud platforms that allows developers to host applications in a remote service, called a
        cloud. 
  .slide
    %h1
      Javascript and Node js
    %ul
      %li
        Earlier Javascript is used as scripting and then its is being used for browser and front-end stuff.
      %li
        Javascript in browser defines what you can do with languages but does not define what languages can do.
      %li
        Node.js allow prommer to write code in backend.
      %li
        Node.js is really two things: a runtime environment and a library.

  .slide 
    %h1
      Node Js in Action
    %ul
      %li
        Originally Node Js organize as module in different file.
      %li
        Node's module system discourages the use of globals
      %li
        But exception to above line is 
        %em
          process 
        and
        %em
          console 
      %li
        Console object contains several methods which are used to output information to stdout or stderr
      %li
        Frequently used console method is console.log(), which simply writes to stdout and appends a line feed (\n).
      %li
        %pre
          %span.atv
            console.log('wahoo');
            console.log({ foo: 'bar' });
      %li
        We will now run sample app.
  .slide
    %h1
      Global Object
    %ul
      %li
        %pre
          %span.atv
            console.assert(connected, 'Database connection failed');
        Asserts that the given expression is truthy, or throws an exception.
      %li
        Next Global Object: Process
      %li
        process.version
      %li
        process.execPath
      %li
        process.cwd()
      %li
        process.chdir()
      %li
        process.env
  .slide
    %h1
      Global Object : Process
    %ul
      %li
        When executing a file with the node executable process.argv provides access to the argument vector,
        the first value being the node executable, second being the filename, and remaining values being the
        arguments passed
        %pre
          %span.atv
            process.argv
      %li
        The process.exit() method is synonymous with the C function exit(), in which an exit code > 0 is passed to indicate failure, or 0 is passed to indicate success.
        %pre
          %span.atv
            process.exit()
  .slide
    %h1
      Global Object : Process
    %ul
      %li
        process.on(): ->
        The process itself is an EventEmitter, allowing you to do things like listen for uncaught exceptions via
        the uncaughtException event(see example of event).
      %li
        process.kill(): ->
        process.kill() method sends the signal passed to the given pid, defaulting to SIGINT(see the example).
      %li
        errno: -> The process object is host of the error numbers
        For example, process.EPERM represents a permission based error, while process.ENOENT represents a missing file or directory.
            
  .slide
    %h1
      Node Js Modules: Events
    %ul
      %li
        Node Events emitter is basic building block of Node js framework.
      %li
        Node's core module events supplies us with a single constructor, EventEmitter
      %li
        Typically an object inherits from EventEmitter.
      %li
        We can define any number of callbacks using the emitter.on() method,
        which accepts the name of the event and arbitrary objects passed as data
      %li
        When emitter.emit() is called,
        we are only required to pass the event name, followed by any number of arguments 
        (see example event emitter). 


    

      
:javascript
  $(document).ready(function(){
    $('#node_js_presentation') .fathom();
  })
